<div class="section-brand-slider">
    <div class="box-brand-slider">
        <img class="brand" src="./img/logo-marcas/logo_nike.jpg" alt="logo_nike">
        <img class="brand" src="./img/logo-marcas/logo_mocatto.png" alt="logo_mocatto">
        <img class="brand" src="./img/logo-marcas/logo_converse.png" alt="logo_converse">
        <img class="brand" src="./img/logo-marcas/logo_ray_ban.png" alt="logo Ray Ban">
        <img class="brand" src="./img/logo-marcas/logo_nike.jpg" alt="logo_nike">
        <img class="brand" src="./img/logo-marcas/logo_mocatto.png" alt="logo_mocatto">
        <img class="brand" src="./img/logo-marcas/logo_converse.png" alt="logo_converse">
        <img class="brand" src="./img/logo-marcas/logo_ray_ban.png" alt="logo Ray Ban">
        <img class="brand" src="./img/logo-marcas/logo_nike.jpg" alt="logo_nike">
        <img class="brand" src="./img/logo-marcas/logo_mocatto.png" alt="logo_mocatto">
        <img class="brand" src="./img/logo-marcas/logo_converse.png" alt="logo_converse">
        <img class="brand" src="./img/logo-marcas/logo_ray_ban.png" alt="logo Ray Ban">
        <img class="brand" src="./img/logo-marcas/logo_nike.jpg" alt="logo_nike">
        <img class="brand" src="./img/logo-marcas/logo_mocatto.png" alt="logo_mocatto">
        <img class="brand" src="./img/logo-marcas/logo_converse.png" alt="logo_converse">
        <img class="brand" src="./img/logo-marcas/logo_ray_ban.png" alt="logo Ray Ban">
        <img class="brand" src="./img/logo-marcas/logo_nike.jpg" alt="logo_nike">
        <img class="brand" src="./img/logo-marcas/logo_mocatto.png" alt="logo_mocatto">
        <img class="brand" src="./img/logo-marcas/logo_converse.png" alt="logo_converse">
        <img class="brand" src="./img/logo-marcas/logo_ray_ban.png" alt="logo Ray Ban">
        <img class="brand" src="./img/logo-marcas/logo_nike.jpg" alt="logo_nike">
        <img class="brand" src="./img/logo-marcas/logo_mocatto.png" alt="logo_mocatto">
        <img class="brand" src="./img/logo-marcas/logo_converse.png" alt="logo_converse">
        <img class="brand" src="./img/logo-marcas/logo_ray_ban.png" alt="logo Ray Ban">
        <img class="brand" src="./img/logo-marcas/logo_nike.jpg" alt="logo_nike">
        <img class="brand" src="./img/logo-marcas/logo_mocatto.png" alt="logo_mocatto">
        <img class="brand" src="./img/logo-marcas/logo_converse.png" alt="logo_converse">
        <img class="brand" src="./img/logo-marcas/logo_ray_ban.png" alt="logo Ray Ban">
        <img class="brand" src="./img/logo-marcas/logo_nike.jpg" alt="logo_nike">
        <img class="brand" src="./img/logo-marcas/logo_mocatto.png" alt="logo_mocatto">
        <img class="brand" src="./img/logo-marcas/logo_converse.png" alt="logo_converse">
        <img class="brand" src="./img/logo-marcas/logo_ray_ban.png" alt="logo Ray Ban">
        <img class="brand" src="./img/logo-marcas/logo_nike.jpg" alt="logo_nike">
        <img class="brand" src="./img/logo-marcas/logo_mocatto.png" alt="logo_mocatto">
        <img class="brand" src="./img/logo-marcas/logo_converse.png" alt="logo_converse">
        <img class="brand" src="./img/logo-marcas/logo_ray_ban.png" alt="logo Ray Ban">
        <img class="brand" src="./img/logo-marcas/logo_nike.jpg" alt="logo_nike">
        <img class="brand" src="./img/logo-marcas/logo_mocatto.png" alt="logo_mocatto">
        <img class="brand" src="./img/logo-marcas/logo_converse.png" alt="logo_converse">
        <img class="brand" src="./img/logo-marcas/logo_ray_ban.png" alt="logo Ray Ban">
        <img class="brand" src="./img/logo-marcas/logo_nike.jpg" alt="logo_nike">
        <img class="brand" src="./img/logo-marcas/logo_mocatto.png" alt="logo_mocatto">
        <img class="brand" src="./img/logo-marcas/logo_converse.png" alt="logo_converse">
        <img class="brand" src="./img/logo-marcas/logo_ray_ban.png" alt="logo Ray Ban">
        <img class="brand" src="./img/logo-marcas/logo_nike.jpg" alt="logo_nike">
        <img class="brand" src="./img/logo-marcas/logo_mocatto.png" alt="logo_mocatto">
        <img class="brand" src="./img/logo-marcas/logo_converse.png" alt="logo_converse">
        <img class="brand" src="./img/logo-marcas/logo_ray_ban.png" alt="logo Ray Ban">
    </div>       
</div>
