<div class="caracteristicas_beneficios">
    <div class="box-caracteristicas">
        caracteristicas-marcos
    </div>
    <div class="box-beneficios">    
        <!-- Cuadro 1 -->
        <div class="beneficio beneficio1">
            <div class="center">
                <i class="fa-solid fa-user-doctor h1 icono" aria-hidden="true"></i>
            </div>
            <div class="center">
                <strong>Consulta Visual Gratuita</strong>
            </div>       
        </div>
        
        <!-- Cuadro 2 -->
        <div class="beneficio beneficio2">
            <div class="center">
                <i class="fa-solid fa-award h1 icono" aria-hidden="true"></i>
            </div>
            <div class="center">
                <strong>Garantía hasta de 1 año</strong>
            </div>       
        </div>
                     
        <!-- Cuadro 3 -->
        <div class="beneficio beneficio3">
            <div class="center">
                <i class="fa-solid fa-paper-plane h1 icono" aria-hidden="true"></i> 
            </div>
            <div class="center"> 
                <strong>Envío a todo Chile</strong>
            </div>       
        </div>
    
        <!-- Cuadro 4 -->
        <div class="beneficio beneficio4">
            <div class="center">
                <i class="fa-solid fa-person h1 icono" aria-hidden="true"></i>
            </div>
            <div class="center">
                <strong>Atención Personalizada</strong>
            </div>       
        </div>      
    </div> 
</div>

