<div class="section-contacto">
    <span>Santiago</span>
    <div class="row">
        <div class="col-md-7 section-contacto-map" >
            <div class="div-map">
                <div id="map"></div>

            </div>            
        </div>
        <div class="col-md-5">
            <dl class="section-contacto-dl">
                <dt>Whatsapp</dt>
                <dd><i class="fa-brands fa-whatsapp"></i> +56 9 2162 9730</dd>
                <dt>
                    Ubicación
                </dt>
                <dd>
                    <i class="fa-solid fa-location-dot" aria-hidden="true"></i> Huerfanos 713 local 18, Santiago Centro
                </dd>
                <dt>Instagram</dt>
                <dd><i class="fa-brands fa-instagram " aria-hidden="true"></i> @opticaycristal.cl</dd>
            </dl>
        </div>    
    </div>
</div>

<!-- API de Google Map -->
<script async src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBPSxGpd1uRMTRa6FjMz7QZXbgXEFQWv88&libraries=places&callback=initMap"></script>
<script>
    async function initMap() {
        try {
            const { Map, Marker } = await google.maps.importLibrary("maps");
            const location = { lat: -33.4391112, lng: -70.6470962 }; // Coordenadas de la ubicación

            const map = new Map(document.getElementById("map"), {
                center: location,
                zoom: 15, 
            });

            // Agregar un marcador en las coordenadas
            new Marker({
                position: location,
                map: map,
                title: "Huérfanos 713, Santiago"
            });

        } catch (error) {
            console.error('Error al inicializar el mapa:', error);
        }
    }
</script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>