<div class="box-frase-inicial">
    <div class="div-frase-inicial">
        <h1 class="frase-inicial">
            Llegó tu momento de ver mejor la vida
        </h1>

    </div>
    <div class="div-imagen-frase-inicial">
        <img src="./img/cliente-feliz-2.jpg" alt="imagen-cliente-feliz" class="imagen-frase-inicial imagen-frase-inicial-2">
        <img src="./img/cliente-feliz-1.jpg" alt="imagen-cliente-feliz" class="imagen-frase-inicial imagen-frase-inicial-1">
    </div>
</div>