<div> 
    <div class="box-title-jornada-oftalmologica ">
        <h2 class="h1">JORNADA DE OFTALMOLOGÍA</h2>        
    </div>
    <div class="container-fluid">
        <div class="section-jornada-oftalmologica">  
            <div class="img-jornada-oftalmologica px-3">
                <img src="https://www.dgjp.gob.do/wp-content/uploads/2022/05/La-DGJP-realiza-jornada-oftalmolo%CC%81gica-a-sus-colaboradores-3.jpeg" alt="" class="img-fluid  rounded">
    
            </div>
            <div class="text-jornada-oftalmologica px-2">          
                <p>¿Conoces nuestras Jornadas Oftalmológicas?</p>
            
                <p>En Óptica y Cristal, estamos comprometidos con tu salud visual. Es por esto que llevamos nuestros servicios directamente a tu empresa o comunidad, <strong>sin costo alguno</strong>.</p>
                
                <p>Durante nuestras jornadas, ofrecemos:</p>           
                <ul class="list-group list-group-flush">
                    <li class="list-group-item ">
                        <i class="fa-solid fa-user-doctor icono me-2" aria-hidden="true"></i>
                        Consultas oftalmológicas in situ</li>
                    <li class="list-group-item">
                        <i class="fa-solid fa-file icono me-2"></i>
                        Receta visual gratuita</li>
                    <li class="list-group-item">
                        <i class="fa-solid fa-arrow-up-from-bracket icono me-2"></i>
                        Documentos para reembolso en Fonasa, Isapre y Seguros
                    </li>
                    <li class="list-group-item">
                        <i class="fa-solid fa-tag icono me-2"></i>
                        Hasta 35% de descuento
                    </li>
                    <li class="list-group-item"><i class="bi bi-check-circle-fill text-success me-2"><i class="fa-solid fa-award icono" aria-hidden="true"></i></i>Garantía en todos nuestros productos</li>
                    <li class="list-group-item">
                        <i class="fa-solid fa-person icono me-2"></i>
                        Convenios con empresas
                    </li>
                </ul>
                   
                <p><strong>¡Descubre más información y mejora la salud visual de tu equipo!</strong> <a href="/jornada-oftalmologica" class="btn" style="color: #387D3A"><i class="fa-solid fa-eye"></i></a> </p>           
            </div>        
        </div>
    </div>
</div>