<h2 class="display-5 m-0 mt-3 mb-1 p-0 text-center">Tipos de Visión</h2>

<div class="section-type-vision">
    <div class="box-tipo-vision d-none d-md-block">
        <div class="box-tipo-vision-row">
            <div class=" tipo-vision-1">
                <div class="tipo-vision  card shadow shadow-sm m-1"><!-- lentes monofocales -->
                    <img src="./img/lentes-monofocales.png" class="card-img-top mt-2" alt="lentes-monofocales">
                    <div class="card-body card-body-tipo">
                        <h3>Lentes Monofocales</h3>
                        <p><b>Descripción: </b>Estos lentes están diseñados para corregir un solo tipo de visión, ya sea
                            para ver de lejos o de cerca. Son ideales para personas que solo tienen un problema de
                            visión específico, como miopía o hipermetropía.</p>
                        <b>Ventajas: </b>
                        <p><i class="fa-solid fa-check"></i> Visión clara y definida a una sola distancia. </p>
                        <p><i class="fa-solid fa-check"></i> Opción económica y de fácil adaptación. </p>
                        <p><i class="fa-solid fa-check"></i> Disponibles en versiones para uso diario y lectura.</p>
                        <b>Para quién es ideal: </b>Personas con una única corrección de la vista, como estudiantes,
                        conductores, o aquellos que trabajan en una computadora.
                    </div>
                </div>
            </div>
            <div class="tipo-vision-2">
                <div class="tipo-vision  card shadow shadow-sm m-1"> <!-- lentes bifocales -->
                    <img src="./img/lentes-bifocales.png" class="card-img-top mt-2" alt="lentes-bifocales">
                    <div class="card-body card-body-tipo">
                        <h3>Lentes Bifocales</h3>
                        <p><b>Descripción: </b>Los lentes bifocales corrigen dos tipos de visión, con una parte del
                            lente diseñada para ver de lejos y otra para ver de cerca. Están divididos en dos zonas: la
                            parte superior para la distancia y la parte inferior para la lectura.</p>
                        <b>Ventajas: </b>
                        <p><i class="fa-solid fa-check"></i> Corrección para dos problemas de visión en un solo lente.
                        </p>
                        <p><i class="fa-solid fa-check"></i> No necesitas cambiar de gafas para leer y ver a distancia.
                        </p>
                        <b>Para quién es ideal: </b>Personas con presbicia o aquellos que necesitan ver a dos distancias
                        distintas sin cambiar de gafas.
                    </div>
                </div>
            </div>
            <div class="tipo-vision-3">
                <div class="tipo-vision  card shadow shadow-sm m-1"><!-- Lentes progresivos-->
                    <img src="./img/lentes-progresivos.png" class="card-img-top mt-2" alt="lentes-progresivos">
                    <div class="card-body card-body-tipo">
                        <h3 class="mt-1">Lentes Progresivos </h3>
                        <p><b>Descripción: </b>Los lentes multifocales o progresivos ofrecen una transición suave entre
                            la visión de lejos, intermedia y de cerca, sin líneas visibles entre los campos de visión.
                            Son ideales para quienes necesitan corrección para todas las distancias.</p>
                        <b>Ventajas: </b>
                        <p><i class="fa-solid fa-check"></i> Corrección de visión para todas las distancias (lejos,
                            media y cerca).</p>
                        <p><i class="fa-solid fa-check"></i> No tienen las líneas divisorias visibles de los bifocales,
                            lo que los hace más estéticos.</p>
                        <p><i class="fa-solid fa-check"></i> Más cómodos para una transición suave entre distancias.</p>
                        <b>Para quién es ideal: </b>Personas mayores con presbicia que necesitan una solución cómoda y
                        sin interrupciones visuales.
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="d-block d-md-none">
    <div class="box-recomendados-carrusel">
        <div id="carouselExampleIndicators" class="carousel carousel-dark slide" data-bs-ride="carousel">
            <div class="carousel-indicators">
                <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active"
                    aria-current="true" aria-label="Slide 1"></button>
                <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1"
                    aria-label="Slide 2"></button>
                <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2"
                    aria-label="Slide 3"></button>
            </div>
            <div class="carousel-inner">
                <div class="carousel-item active px-5 pb-5">
                    <div class="tipo-vision card">
                        <img src="./img/lentes-monofocales.png" class="card-img-top mt-2" alt="lentes-monofocales">
                        <div class="card-body card-body-tipo">
                            <h3>Lentes Monofocales</h3>
                            <p class="justified-paragraph"><b>Descripción: </b>Estos lentes están diseñados para
                                corregir un solo tipo de visión, ya sea para ver de lejos o de cerca. Son ideales para
                                personas que solo tienen un problema de visión específico, como miopía o hipermetropía.
                            </p>
                            <b>Ventajas: </b>
                            <p><i class="fa-solid fa-check"></i> Visión clara y definida a una sola distancia. </p>
                            <p><i class="fa-solid fa-check"></i> Opción económica y de fácil adaptación. </p>
                            <p><i class="fa-solid fa-check"></i> Disponibles en versiones para uso diario y lectura.</p>
                            <b>Para quién es ideal: </b>Personas con una única corrección de la vista, como estudiantes,
                            conductores, o aquellos que trabajan en una computadora.
                        </div>
                    </div>
                </div>
                <div class="carousel-item px-5 pb-5">
                    <div class="tipo-vision card">
                        <img src="./img/lentes-bifocales.png" class="card-img-top mt-2" alt="lentes-bifocales">
                        <div class="card-body card-body-tipo">
                            <h3>Lentes Bifocales</h3>
                            <p class="justified-paragraph"><b>Descripción: </b>Los lentes bifocales corrigen dos tipos
                                de visión, con una parte del lente diseñada para ver de lejos y otra para ver de cerca.
                                Están divididos en dos zonas: la parte superior para la distancia y la parte inferior
                                para la lectura.</p>
                            <b>Ventajas: </b>
                            <p><i class="fa-solid fa-check"></i> Corrección para dos problemas de visión en un solo
                                lente.</p>
                            <p><i class="fa-solid fa-check"></i> No necesitas cambiar de gafas para leer y ver a
                                distancia.</p>
                            <b>Para quién es ideal: </b>Personas con presbicia o aquellos que necesitan ver a dos
                            distancias distintas sin cambiar de gafas.
                        </div>
                    </div>
                </div>
                <div class="carousel-item px-5 pb-5">
                    <div class="tipo-vision card">
                        <img src="./img/lentes-progresivos.png" class="card-img-top mt-2" alt="lentes-progresivos">

                        <div class="card-body card-body-tipo">
                            <h3>Lentes Progresivos</h3>
                            <p class="justified-paragraph"><b>Descripción: </b>Los lentes multifocales o progresivos
                                ofrecen una transición suave entre la visión de lejos, intermedia y de cerca, sin líneas
                                visibles entre los campos de visión. Son ideales para quienes necesitan corrección para
                                todas las distancias.</p>
                            <b>Ventajas: </b>
                            <p><i class="fa-solid fa-check"></i> Corrección de visión para todas las distancias (lejos,
                                media y cerca).</p>
                            <p><i class="fa-solid fa-check"></i> No tienen las líneas divisorias visibles de los
                                bifocales, lo que los hace más estéticos.</p>
                            <p><i class="fa-solid fa-check"></i> Más cómodos para una transición suave entre distancias.
                            </p>
                            <b>Para quién es ideal: </b>Personas mayores con presbicia que necesitan una solución cómoda
                            y sin interrupciones visuales.
                        </div>
                    </div>
                </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators"
                data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators"
                data-bs-slide="next">
                <span class="carousel-control-next-icon text-dark" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>
        </div>
    </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>