<!DOCTYPE html>
<html lang="es">
<!-- heade -->
<%- include('template/head.ejs') %>

    <body>
        <%- include('template/nav.ejs') %>
            <div class="container section-jornada-oftalmologica-view">
                <header class="text-center mb-5"><!-- Encabezado-->
                    <h1 class="display-4 mb-4">Jornada Oftalmológica</h1>
                    <p class="justified-paragraph" style="font-size: 1.1rem; ">Nuestra jornada oftalmológica es una
                        iniciativa diseñada para
                        realizar revisiones de salud visual a trabajadores, colaboradores o miembros de la comunidad,
                        con el objetivo de detectar y tratar a tiempo cualquier problema de visión. Con esto, buscamos
                        mejorar tu bienestar y calidad de vida.</p>
                </header>
                <section id="info" class="mb-5"><!-- Beneficios -->
                    <div class="row">
                        <div class="col-lg-5 py-auto">
                            <img src="https://images.unsplash.com/photo-1576091160550-2173dba999ef"
                                alt="Sesión Oftalmológica" class="img-fluid rounded">
                        </div>
                        <div class="col-lg-7">

                            <h2 class="mb-2">Beneficios</h2>
                            <p class="justified-paragraph">Nuestras jornadas están diseñadas para brindar atención
                                profesional, ofreciendo los siguientes beneficios:</p>
                            <ul class="list-group list-group-flush">
                                <li class="list-group-item ">
                                    <i class="fa-solid fa-user-doctor icono me-2" aria-hidden="true"></i>
                                    Consultas oftalmológicas in situ
                                </li>
                                <li class="list-group-item">
                                    <i class="fa-solid fa-file icono me-2"></i>
                                    Receta visual gratuita
                                </li>
                                <li class="list-group-item">
                                    <i class="fa-solid fa-arrow-up-from-bracket icono me-2"></i>
                                    Documentos para reembolso en Fonasa, Isapre y Seguros
                                </li>
                                <li class="list-group-item">
                                    <i class="fa-solid fa-tag icono me-2"></i>
                                    Hasta 35% de descuento
                                </li>
                                <li class="list-group-item"><i class="bi bi-check-circle-fill text-success me-2"><i
                                            class="fa-solid fa-award icono" aria-hidden="true"></i></i>Garantía en todos
                                    nuestros productos</li>
                                <li class="list-group-item">
                                    <i class="fa-solid fa-person icono me-2"></i>
                                    Convenios con empresas
                                </li>
                            </ul>
                        </div>

                    </div>
                </section>
            </div>
            <div class="container">
                <div class="row">

                    <div class="col-lg-7">
                        <section>
                            <h2 class="mb-2">Nuestros productos</h2>
                            <p>El día de la jornada, contaremos con una selección de productos:</p>
                            <div class="accordion" id="accordionProductsDay">
                                <!-- Accordion Item 1 -->
                                <div class="accordion-item">
                                    <h2 class="accordion-header" id="panelsStayOpen-headingOne">
                                        <button class="accordion-button collapsed" type="button"
                                            data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseOne"
                                            aria-expanded="false" aria-controls="panelsStayOpen-collapseOne">
                                            Variedad de Lentes Ópticos
                                        </button>
                                    </h2>
                                    <div id="panelsStayOpen-collapseOne" class="accordion-collapse collapse"
                                        aria-labelledby="panelsStayOpen-headingOne"
                                        data-bs-parent="#accordionProductsDay">
                                        <div class="accordion-body">
                                            <div class="row mb-3">
                                                <div class="col-md-7 pt-3">
                                                    <p class="justified-paragraph">Descubre nuestra amplia gama de
                                                        lentes
                                                        ópticos, diseñados para adaptarse a todos los estilos y
                                                        necesidades...
                                                    </p>
                                                    <ul class="list-group list-group-flush">
                                                        <li class="list-group-item"><i
                                                                class="bi bi-check-circle-fill text-success me-2"></i>Lentes
                                                            ópticos</li>
                                                        <li class="list-group-item"><i
                                                                class="bi bi-check-circle-fill text-success me-2"></i>Lentes
                                                            de
                                                            descanso</li>
                                                        <li class="list-group-item"><i
                                                                class="bi bi-check-circle-fill text-success me-2"></i>Lentes
                                                            de
                                                            sol</li>
                                                        <li class="list-group-item"><i
                                                                class="bi bi-check-circle-fill text-success me-2"></i>Marcos
                                                            de
                                                            acetato, metal y combinados</li>
                                                    </ul>
                                                </div>
                                                <div class="col-md-5">
                                                    <img src="https://images.unsplash.com/photo-1576091160550-2173dba999ef"
                                                        alt="Sesión Oftalmológica" class="img-fluid rounded shadow">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <!-- Accordion Item 2 -->
                                <div class="accordion-item">
                                    <h2 class="accordion-header" id="panelsStayOpen-headingTwo">
                                        <button class="accordion-button collapsed" type="button"
                                            data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseTwo"
                                            aria-expanded="false" aria-controls="panelsStayOpen-collapseTwo">
                                            Cristales Ópticos Certificados
                                        </button>
                                    </h2>
                                    <div id="panelsStayOpen-collapseTwo" class="accordion-collapse collapse"
                                        aria-labelledby="panelsStayOpen-headingTwo"
                                        data-bs-parent="#accordionProductsDay">
                                        <div class="accordion-body">
                                            <div class="row mb-3">
                                                <div class="col-md-7 pt-3">
                                                    <p class="justified-paragraph">En nuestra campaña, ofrecemos una
                                                        amplia gama
                                                        de cristales de alta calidad...</p>
                                                    <ul class="list-group list-group-flush">
                                                        <li class="list-group-item"><i
                                                                class="bi bi-check-circle-fill text-success me-2"></i>Cristales:
                                                            Policarbonato, CR39 y Mineral.</li>
                                                        <li class="list-group-item"><i
                                                                class="bi bi-check-circle-fill text-success me-2"></i>Filtros:
                                                            UV, Antirreflejante, Filtro Azul y Fotocromáticos.</li>
                                                        <li class="list-group-item"><i
                                                                class="bi bi-check-circle-fill text-success me-2"></i>Visión:
                                                            Monofocales, Bifocales y Multifocales.</li>
                                                        <li class="list-group-item"><i
                                                                class="bi bi-check-circle-fill text-success me-2"></i>También
                                                            disponibles: Cristales Rodenstock</li>
                                                    </ul>
                                                </div>
                                                <div class="col-md-5">
                                                    <img src="https://images.unsplash.com/photo-1576091160550-2173dba999ef"
                                                        alt="Sesión Oftalmológica" class="img-fluid rounded shadow">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <!-- Accordion Item 3 -->
                                <div class="accordion-item">
                                    <h2 class="accordion-header" id="panelsStayOpen-headingThree">
                                        <button class="accordion-button collapsed" type="button"
                                            data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseThree"
                                            aria-expanded="false" aria-controls="panelsStayOpen-collapseThree">
                                            Accesorios
                                        </button>
                                    </h2>
                                    <div id="panelsStayOpen-collapseThree" class="accordion-collapse collapse"
                                        aria-labelledby="panelsStayOpen-headingThree"
                                        data-bs-parent="#accordionProductsDay">
                                        <div class="accordion-body">
                                            <div class="row mb-3">
                                                <div class="col-md-7 pt-3">
                                                    <p>Para mejorar la experiencia con tus gafas, ofrecemos distintos
                                                        accesorios...</p>
                                                    <ul class="list-group list-group-flush">
                                                        <li class="list-group-item">
                                                            <i
                                                                class="bi bi-check-circle-fill text-success me-2"></i>Limpia
                                                            cristales
                                                        </li>
                                                        <li class="list-group-item">
                                                            <i
                                                                class="bi bi-check-circle-fill text-success me-2"></i>Pañitos
                                                            de
                                                            tela
                                                        </li>
                                                        <li class="list-group-item">
                                                            <i
                                                                class="bi bi-check-circle-fill text-success me-2"></i>Colgantes
                                                        </li>
                                                        <li class="list-group-item">
                                                            <i
                                                                class="bi bi-check-circle-fill text-success me-2"></i>Plaquetas
                                                        </li>
                                                        <li class="list-group-item">
                                                            <i class="bi bi-check-circle-fill text-success me-2"></i>Y
                                                            mucho
                                                            más...
                                                        </li>
                                                    </ul>
                                                </div>
                                                <div class="col-md-5">
                                                    <img src="https://images.unsplash.com/photo-1576091160550-2173dba999ef"
                                                        alt="Accesorios para gafas" class="img-fluid rounded shadow">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </section>
                    </div>

                    <div class="col-lg-5">
                        <section id="contacto-jornada-oftalmologica-view"><!-- Formulario -->
                            <div class="card card-jornada-oftalmologica p-3 shadow">
                                <h2 class="mb-4">Solicitar información</h2>
                                <form id="infoForm" class="needs-validation" novalidate>
                                    <div class="mb-3">
                                        <label for="name" class="form-label">Nombre</label>
                                        <input type="text" class="form-control" id="name" required aria-required="true">
                                        <div class="invalid-feedback">Por favor, proporciona tu nombre.</div>
                                    </div>
                                    <div class="mb-3">
                                        <label for="email" class="form-label">Correo Electrónico</label>
                                        <input type="email" class="form-control" id="email" required
                                            aria-required="true">
                                        <div class="invalid-feedback">Por favor, proporciona una dirección de correo
                                            válida.
                                        </div>
                                    </div>
                                    <div class="mb-3">
                                        <label for="phone" class="form-label">Teléfono</label>
                                        <input type="tel" class="form-control" id="phone" required aria-required="true">
                                        <div class="invalid-feedback">Por favor, proporciona tu número de teléfono.
                                        </div>
                                    </div>
                                    <div class="mb-3">
                                        <label for="message" class="form-label">Mensaje</label>
                                        <textarea class="form-control" id="message" rows="3" required
                                            aria-required="true"></textarea>
                                        <div class="invalid-feedback">Por favor, introduce tu mensaje.</div>
                                    </div>
                                    <div class="text-end">
                                        <button type="submit" class="btn btn-warning"
                                            style="width: 200px;">Enviar</button>

                                    </div>

                                </form>
                            </div>
                        </section>
                    </div>
                </div>
            </div>
            <!-- scripts generales -->
            <%- include('template/scripts.ejs') %>
                <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
                <script>
                    (function () {
                        'use strict';
                        var forms = document.querySelectorAll('.needs-validation');
                        Array.prototype.slice.call(forms)
                            .forEach(function (form) {
                                form.addEventListener('submit', function (event) {
                                    if (!form.checkValidity()) {
                                        event.preventDefault();
                                        event.stopPropagation();
                                    } else {
                                        event.preventDefault();
                                        alert('Formulario enviado exitosamente!');
                                        form.reset();
                                    }
                                    form.classList.add('was-validated');
                                }, false);
                            });
                    })();
                </script>
    </body>

</html>